{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Основная страница</title>

    <!-- Custom fonts for this template-->
    <link href="{%  static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper"  style="padding-left:1rem; padding-top:1rem; padding-bottom: 1rem; border-radius: 15px;">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar"
            style="padding-left:1rem; padding-top:1rem; padding-bottom: 1rem; border-radius: 15px;">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'img/another_logo.svg' %}"
                         alt="logo_navbar"
                         width="150px">
                </div>
            </a>

            <li class="nav-item active">
                <a class="nav-link" href="index.html">
{#                    <i class="fas fa-fw fa-tachometer-alt"></i>#}
                    <img src="{% static 'img/dashboard.svg' %}">
                    <span>Главная</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
{#                    <i class="fas fa-fw fa-cog"></i>#}
                    <img src="{% static 'img/stats.svg' %}">
                    <span>Статистика</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
{#                    <i class="fas fa-fw fa-cog"></i>#}
                    <img src="{% static 'img/people.svg' %}">
                    <span>Команды</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
{#                    <i class="fas fa-fw fa-cog"></i>#}
                    <img src="{% static 'img/calendar.svg' %}">
                    <span>Мероприятия</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
{#                    <i class="fas fa-fw fa-cog"></i>#}
                    <img src="{% static 'img/group.svg' %}">
                    <span>Резюме</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
{#                    <i class="fas fa-fw fa-cog"></i>#}
                    <img src="{% static 'img/sport.svg' %}">
                    <span>Тренировки</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
{#                    <i class="fas fa-fw fa-cog"></i>#}
                    <img src="{% static 'img/list.svg' %}">
                    <span>Задачи</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
{#                    <i class="fas fa-fw fa-cog"></i>#}
                    <img src="{% static 'img/settings.svg' %}">
                    <span>Настройки</span>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav sidebar sidebar-dark"
            style="position: absolute; display: inline-block; bottom: 0;">
            <li class="nav-item">
            </li>
        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->

                <!-- End of Topbar -->

                {% block content %}
                {% endblock %}

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>